<div>
  <h1 mat-dialog-title style="margin-bottom: 6px">Recupera password</h1>

  <mat-divider></mat-divider>

  <div style="margin-top: 10px">
    Invieremo un link all'email associata al tuo account per creare una nuova password
  </div>

  <form [formGroup]="recuperaPasswordForm" #passwordForm="ngForm"
        (ngSubmit)="submitted ? onSubmit($event, passwordForm): $event.preventDefault()">

    <div style="margin-top: 10px;">
      <mat-form-field>
        <input matInput id="email" formControlName="email" required>
        <mat-placeholder style="color: oldlace;">Email</mat-placeholder>
        <mat-error *ngIf=" recuperaPasswordForm.controls['email'].hasError('required') &&
                         recuperaPasswordForm.controls['email'].touched && recuperaPasswordForm.invalid">
          Inserisci l'email
        </mat-error>
      </mat-form-field>
    </div>

    <div style="margin-top: 10px;">
      <button class="btn" mat-raised-button type="submit"
              [disabled]="!passwordForm.form.valid"
              (click)="submitted = true;">
        Invia email
      </button>
      <span>
        <button mat-raised-button class="btn annulla" style="margin-left: 8px"
                (click)="annulla()">
          Annulla
        </button>
      </span>
    </div>

  </form>

</div>



