/*.mat-dialog-container {
  background: rgba(0,160,199, 1) !important; !*rgba(135, 219, 220, 0.9)*!
  text-align: center !important;
}*/

/*
.btn {
  !*width: 100px;
  height: 35px;*!
  background-color: coral;
  border-color: coral;
  border-radius: 10px;
  !*font-size: 15px;*!
  color: cornsilk;
  opacity: 1;
}

.annulla {
  background-color: transparent;
  border-style: none;
  margin-left: 6px;
  color: coral;
  font-weight: bold;
}
*/
