<div class="bg-image"></div>
<div>
  <div class="login-form">
    <mat-card class="text-center">
      <mat-card-title>
        <h1>Crea una nuova password</h1>
      </mat-card-title>
      <mat-divider></mat-divider>

      <br>
      <mat-card-content>
        <div class="container">
          <div>

            <form [formGroup]="nuovaPasswordForm" #passwordForm="ngForm"
                  (ngSubmit)="submitted ? onSubmit($event, passwordForm): $event.preventDefault()">

              <div class="form-group">
                <mat-form-field matTooltip="La password deve essere almeno di 8
                                  caratteri e deve contenere almeno una
                                  maiuscola e un numero"
                                class="example-full-width">
                  <input matInput value="" formControlName="password"
                         [type]="hidePassword ? 'password' : 'text'" required>
                  <mat-placeholder class="placeholder">Password</mat-placeholder>
                  <button mat-icon-button matSuffix (click)="$event.preventDefault(); hidePassword = !hidePassword;">
                    <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  <mat-error *ngIf=" nuovaPasswordForm.controls['password'].hasError('required')
                                  && nuovaPasswordForm.controls['password'].touched">
                    Inserire una password con formato idoneo
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="form-group">
                <mat-form-field class="example-full-width">
                  <input matInput value="" formControlName="repeatedPassword"
                         [type]="hidePasswordR ? 'password' : 'text'" required>
                  <mat-placeholder class="placeholder">Reinserisci la password</mat-placeholder>
                  <!--<button mat-icon-button matSuffix
                          (click)="$event.preventDefault(); hidePasswordR = !hidePasswordR;">
                    <mat-icon>{{hidePasswordR ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  <button mat-icon-button matSuffix>
                  </button>-->
                  <mat-error *ngIf=" nuovaPasswordForm.controls['repeatedPassword'].hasError('required')
                                  && nuovaPasswordForm.controls['repeatedPassword'].touched">
                    Reinserisci la password
                  </mat-error>
                </mat-form-field>
              </div>

              <div>
                <button class="btn" mat-raised-button type="submit"
                        [disabled]="!passwordForm.form.valid"
                        (click)="submitted = true;"
                        style="margin-bottom: 4px">
                  Conferma
                </button>
              </div>

            </form>

          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

</div>
