<div class="bg-image"></div>
<div>
  <div class="accesso-negato">
    <mat-card class="text-center">
      <mat-card-title>
        <h1>Il tuo ruolo è cambiato</h1>
      </mat-card-title>

      <mat-divider style="margin-top: 12px"></mat-divider>
      <br>

      <mat-card-content>
        <div class="container">

          <div style="margin-top: 10px">
            Accedi di nuovo per continuare
          </div>
          <div>
            <button mat-raised-button class="btn" (click)="redirectLogin()" style="margin: 16px 0 6px 0">
              Accedi
            </button>
          </div>


        </div>
      </mat-card-content>
    </mat-card>
  </div>

</div>
